body {
    margin: 0;
    padding: 0;
    font-weight: 200;
}

h1 {
    font-weight: 200;
}

.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    min-height: 50vh;
}